[submodule "modules/RTNeural"]
	path = modules/RTNeural
	url = https://github.com/jatinchowdhury18/RTNeural
[submodule "modules/JUCE"]
	path = modules/JUCE
	url = https://github.com/lv2-porting-project/JUCE.git
    branch = lv2
[submodule "modules/json"]
	path = modules/json
	url = https://github.com/nlohmann/json.git
[submodule "modules/chowdsp_utils"]
	path = modules/chowdsp_utils
	url = https://github.com/Chowdhury-DSP/chowdsp_utils
[submodule "modules/libsamplerate"]
	path = modules/libsamplerate
	url = https://github.com/libsndfile/libsamplerate
